services:
  # 1. SOURCE: Current legacy environment
  db-legacy-mysql:
    image: mysql:5.6
    container_name: mysql_56_source
    ports:
      - "3366:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=scada_migration_test
    volumes:
      - ${STACK_ROOT}/data/legacy-data:/var/lib/mysql

  # 2. TARGET A: Modern MySQL
  db-modern-mysql:
    image: mysql:8.4 # Using the 2026 LTS version
    container_name: mysql_84_target
    ports:
      - "3367:3306" # Shifted port to avoid conflict
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=scada_new
    volumes:
      - ${STACK_ROOT}/data/modern-mysql-data:/var/lib/mysql

  # 3. TARGET B: Modern MariaDB
  db-mariadb:
    image: mariadb:11.4
    container_name: mariadb_target
    ports:
      - "3368:3306" # Shifted port to avoid conflict
    environment:
      - MARIADB_ROOT_PASSWORD=password
      - MARIADB_DATABASE=scada_maria
    volumes:
      - ${STACK_ROOT}/data/mariadb-data:/var/lib/mysql
      # Tune maria to give more RAM for buffer pool (for bulk inserts)
    command: [
      "mariadbd",
      "--innodb-buffer-pool-size=2G",      # Set to ~50% of your available Host RAM
      "--innodb-log-file-size=512M",      # Larger logs = fewer "checkpoints" during import
      "--innodb-flush-log-at-trx-commit=2", # Massive speed boost for bulk inserts
      "--max-allowed-packet=1G",           # Prevents "Packet too large" errors on big SQL lines
      "--skip-log-bin"  # Optional: added this to save disk space
    ]

  # 4. GATEWAY: Ignition
  ignition:
    image: inductiveautomation/ignition:8.1.43
    container_name: ignition_gateway
    ports:
      - "8098:8088"
    environment:
      - ACCEPT_IGNITION_EULA=Y
      - GATEWAY_ADMIN_PASSWORD=password
      - IGNITION_EDITION=standard
    volumes:
      - ignition_data:/usr/local/bin/ignition/data  # Use the named volume here
    depends_on:
      - db-legacy-mysql
      - db-modern-mysql
      - db-mariadb

# This is required to make docker vol for ignition to properly seed it's template
volumes:
  ignition_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '${STACK_ROOT}/data/ignition' # This points to your host folder
